<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Главная страница</h1>
    <a href="{% url 'create_prompt' %}">Нажмите, чтобы создать промпт.</a>

    <form method="post">
        {% csrf_token %}
        <button type="submit">Очистить</button>
    </form>

    {% for prompt in prompts %}
        <div>
            <h3>{{ prompt.name }}</h3>
            <p>{{ prompt.text }}</p>
        </div>
    {% empty %}
        <p>Нет сохранённых промптов.</p>
    {% endfor %}
    <h2>Ответ:</h2>
    {% for answer in answers %}
        <div>
            <p>{{ answer.text }}</p>
        </div>
    {% empty %}
        <p>Нет сохранённых ответов.</p>
    {% endfor %}
</body>
</html>